html {
	font-family: arial
}
.img{
	width: 20em;
	height: 10em;
	float: left;
}
p.sfloat{
	clear:bold;
}
p.pnofloat{
	float:left;
}
.centerTitle{
	text-align:center;
}
.blueText{
	color:blue;
}

.greenText{
	color:green;
	font-weight: bold;
	
}

.orangeText{
	color:orange;
	font-style: italic;
}

.redText{
	color:red;
	text-decoration:underline;
}

.innnerBox{
	width: 6em;
	font-family: "Times New Roman";
	color: purple;
	tesxt-align:center;
}

.rightText{
	text-align:right;
}
