html {
	font-family: arial
}
.img{
	width: 20em;
	height: 10em;
	float: left;
}
p.sfloat{
	clear:bold;
}
p.pnofloat{
	float:left;
}
.centerTitle{
	text-align:center;
}
.blueText{
	color:rgb(79,129,189);
}

.greenText{
	color:rgb(0,176,80);
	font-wheight: bold;
	
}

.orangeText{
	color:rgb(255,192,0);
	font-style:italic;
}

.redText{
	color:rgb(255,0,0);
	text-decoration:underline;
}

.purpleText{
	font-family: "Times New Roman";
	color: rgb(128,100,162);
	
}
