html {
	font-family: verdana
}
.img{
	width: 20em;
	height: 10em;
	float: left;
}
p.sfloat{
	clear:bold;
}
p.pnofloat{
	float:left;
}
.centerTitle{
	text-align:center;
	border-bottom: 1px solid blue;
}
.blueText{
	color:blue;
}

.greenText{
	color:green;
	font-weight: bold;
	
}

.orangeText{
	color:orange;
	font-style: italic;
}

.redText{
	color:red;
	text-decoration:underline;
}

.innerBox{
	width: 9em;
	font-family: "Times New Roman";
	color: purple;
	text-align:center;
}

.rightText{
	text-align:right;
}

.underLine{
	text-decoration:underline;
	text-decoration-style:double;
	text-decoration-color:blue;
}

.margem{
	margin-left: 0.5em;
}

.outerBox{
	width: 40em;
	border: 1px solid black;
}

td.notazul {
  color: green;
  font-weight: bolder;
  font-style: italic;
}

td.notaverm {
  color: red;
  font-weight: bolder;
  font-style: italic;
}

tr.linelgrey {
  background-color: grey;
}

table.tab {
   border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0px 50px;
}


p.Verdana
{
	font-size:12px;
	color:red;
	line-height:24px;
	border: 1px solid black;
	width: 20%;
}
